body {    
    background: url('../assets/blurredimages/homepagebackground3.svg') center top / cover no-repeat #B3C4B4;
    background-attachment: scroll;
}

.topbar{
    color: white;
    background-color: #171B18;
}

div .highlight-green {
    color: #028F62;
}

.homepage {
    background-color: transparent; /* Remove background from here */
    min-height: 100vh;
    width: 100%;
}

main .highlight-green {
    color: #028F62;
}


main .highlight-animated-green {
    background: linear-gradient(
        to right,
        #028F62 20%,
        #132f2a 30%,
        rgb(29, 255, 153) 70%,
        #028F62 80%
        
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; --library does not exist, might be an outdated method or attribute*/
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
    will-change: background-position;
    transform: translateZ(0);
}

main .skillset-section{
    color: #028F62;
}

main .titleDescription {
    color: #94dfc7;
}

p .paragraph-highlight {
    color: rgb(29, 255, 153);
    font-weight: 200;
}

div .skillset-footer-radius{
    background-color: #b3c4b4;
}


div .LanguagesAndToolsSection{
    background-image: linear-gradient(to right, #028F62 , #132f2a);
    /* background-image: linear-gradient(to right, red , yellow); */
}



@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

